// // Colors in logotyp - left to right ( color-theme )
// $color1: #433937;
// $color2: #50312F;
// $color3: #997E73;
// $color4: #EBDDD4;
// $black: #000;

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}
