/* Footer */

.footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: $color3;
}

.footer a {
    color: $color2;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}
