
.me {
    width: 20%;
    border-radius: 250px;
}

.logo {
    width: 50%;
    flex: 1 0 auto;
}

.about {
    width: 40%;
    border: 4px solid $color3;
}

img,
embed,
object,
video {
    max-width: 200%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
