/* Title */

.title {
    padding: 3em 3em 3em 0;
    flex: 0 0 auto;
}

.logo {
    padding: 3em 3em 3em 0;
    flex: 0 0 auto;
}

@media (max-width: 767px) {
    .title {
        min-width: 50%;
        padding: 1em 1em 1em 0;
    }
    
    .logo {
        padding: 1em 1em 1em 0;
        max-width: 10%;
        min-width: 10%;
    }
}

.title * {
    flex: left;
    color: $color2;
    text-decoration: none;
}

.title p {
    flex: left;
    font-style: italic;
    color: $color1;
    text-decoration: none;
}
