@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// // färgschema Komplementär utgående från $color1 (#6b7f7b;)

$color1: #6b7f7b;
$color2: #80716b;
$color4: #efe3af;

$color3: #c0ccca;
$color5: #263330;

// font style
$fontstyle: 'Montserrat', sans-serif;
$font-color: $color5;
$font-alternative-color: #fff;

$accent-color: $color2;
$background-color: $color4;
$background-alternative-color: #e0fbfc;

